PORT=3000

# Local PostgreSQL example:
DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"

# Runtime database connection
DATABASE_URL="..."

# Direct connection for Prisma migrations
DIRECT_URL="..."